<section id="reviews">
  <div class="container">
    <h2 class="reviews-title">reviews</h2>
    <div class="swiper swiper-container">
      <div class="swiper-wrapper swiper-list-container">
        <ul class="swiper-list"></ul>
      </div>
      <div class="swiper-pagination"></div>
      <div class="navi">
        <div class="swiper-button-prev" id="before_btn">
          <svg class="icon-prev skills-arrow" width="32" height="32">
            <use href="./img/symbol-defs.svg#icon-arrow-narrow-left"></use>
          </svg>
        </div>
        <div class="swiper-button-next" id="next_btn">
          <svg class="icon-next skills-arrow" width="32" height="32">
            <use href="./img/symbol-defs.svg#icon-arrow-narrow-left"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
