<section class="section">
    <h2 class="visually-hidden">Covers</h2>
<!-- first -->
    <div class="content">
        <div class="marquee bg">
        <div class="marquee__inner">
          <p class="marquee__line">
            <img
            srcset="./img/covers-img/starlight-studio@2x.png 2x" 
            src="./img/covers-img/starlight-studio.png" alt="starlight-studio" width="544" height="314"></p>
          <p class="marquee__line">
            <img 
            srcset="./img/covers-img/chego@2x.png 2x" 
            src="./img/covers-img/chego.png" alt="chego" width="544" height="314"></p>
          <p class="marquee__line">
            <img 
            srcset="./img/covers-img/energy-flow@2x.png 2x" 
            src="./img/covers-img/energy-flow.png" alt="energy-flow" width="544" height="314"></p>
          <p class="marquee__line">
            <img 
            srcset="./img/covers-img/english-excellence@2x.png 2x" 
            src="./img/covers-img/english-excellence.png" alt="english-excellence" width="544" height="314"></p>
          <p class="marquee__line">
            <img 
            srcset="./img/covers-img/fruitbox@2x.png 2x" 
            src="./img/covers-img/fruitbox.png" alt="fruitbox" width="544" height="314"></p>
              <p class="marquee__line">
                <img 
                src="./img/covers-img/vyshyvanka.png" alt="vyshyvanka" width="544" height="314"></p>
                <p class="marquee__line">
                  <img 
                  srcset="./img/covers-img/starlight-studio@2x.png 2x" 
                  src="./img/covers-img/starlight-studio.png" alt="starlight-studio" width="544" height="314"></p>
        </div>
<!-- second -->
        <div class="marquee__inner">
            <p class="marquee__line">
                <img 
                srcset="./img/covers-img/green-harvest@2x.png 2x"
                src="./img/covers-img/green-harvest.png" alt="green-harvest" width="544" height="314"></p>
            <p class="marquee__line">
                <img 
                srcset="./img/covers-img/mimino@2x.png 2x"
                src="./img/covers-img/mimino.png" alt="mimino" width="544" height="314"></p>
            <p class="marquee__line">
                <img 
                srcset="./img/covers-img/power-pulse@2x.png 2x"
                src="./img/covers-img/power-pulse.png" alt="power-pulse" width="544" height="314"></p>
            <p class="marquee__line">
                <img 
                srcset="./img/covers-img/wallet@2x.png 2x"
                src="./img/covers-img/wallet.png" alt="wallet" width="544" height="314"></p>
            <p class="marquee__line">
                <img 
                srcset="./img/covers-img/vyshyvanka@2x.png 2x"
                src="./img/covers-img/vyshyvanka.png" alt="vyshyvanka" width="544" height="314"></p>
            <p class="marquee__line">
                <img 
                srcset="./img/covers-img/starlight-studio@2x.png 2x"
                src="./img/covers-img/starlight-studio.png" alt="starlight-studi" width="544" height="314"></p>
            <p class="marquee__line">
                <img 
                srcset="./img/covers-img/chego@2x.png 2x" 
                src="./img/covers-img/chego.png" alt="chego" width="544" height="314"></p>
            <p class="marquee__line">
                <img 
                srcset="./img/covers-img/energy-flow@2x.png 2x" 
                src="./img/covers-img/energy-flow.png" alt="energy-flow" width="544" height="314"></p>
            <p class="marquee__line">
                <img 
                srcset="./img/covers-img/english-excellence@2x.png 2x"
                src="./img/covers-img/english-excellence.png" alt="english-excellence" width="544" height="314"></p>
            <p class="marquee__line">
                <img 
                srcset="./img/covers-img/fruitbox@2x.png 2x" 
                src="./img/covers-img/fruitbox.png" alt="fruitbox" width="544" height="314"></p>
            <p class="marquee__line">
                <img 
                srcset="./img/covers-img/green-harvest@2x.png 2x" 
                src="./img/covers-img/green-harvest.png" alt="green-harvest" width="544" height="314"></p>
            <p class="marquee__line">
                <img 
                srcset="./img/covers-img/wallet@2x.png 2x"
                src="./img/covers-img/wallet.png" alt="wallet" width="544" height="314"></p>
          </div>
<!-- third -->
          <div class="marquee__inner">
            <p class="marquee__line">
              <img 
              srcset="./img/covers-img/fruitbox@2x.png 2x"
              src="./img/covers-img/fruitbox.png" alt="fruitbox" width="544" height="314"></p>
            <p class="marquee__line">
              <img 
              srcset="./img/covers-img/green-harvest@2x.png 2x"
              src="./img/covers-img/green-harvest.png" alt="green-harvest" width="544" height="314"></p>
            <p class="marquee__line">
              <img 
              srcset="./img/covers-img/mimino@2x.png 2x"
              src="./img/covers-img/mimino.png" alt="mimino" width="544" height="314"></p>
            <p class="marquee__line">
              <img 
              srcset="./img/covers-img/wallet@2x.png 2x"
              src="./img/covers-img/wallet.png" alt="wallet" width="544" height="314"></p>
            <p class="marquee__line">
              <img 
              srcset="./img/covers-img/vyshyvanka@2x.png 2x"
              src="./img/covers-img/vyshyvanka.png" alt="vyshyvanka" width="544" height="314"></p>
            <p class="marquee__line">
              <img 
              srcset="./img/covers-img/green-harvest@2x.png 2x"
              src="./img/covers-img/chego.png" alt="chego" width="544" height="314"></p>
            <p class="marquee__line">
              <img 
              srcset="./img/covers-img/wallet@2x.png 2x"
              src="./img/covers-img/wallet.png" alt="wallet" width="544" height="314"></p>
          </div>
<!-- fourth -->
          <div class="marquee__inner">
            <p class="marquee__line">
                <img 
                srcset="./img/covers-img/english-excellence@2x.png 2x"
                src="./img/covers-img/english-excellence.png" alt="english-excellence" width="544" height="314"></p>
            <p class="marquee__line">
                <img 
                srcset="./img/covers-img/fruitbox@2x.png 2x"
                src="./img/covers-img/fruitbox.png" alt="fruitbox" width="544" height="314"></p>
            <p class="marquee__line">
                <img 
                srcset="./img/covers-img/green-harvest@2x.png 2x"
                src="./img/covers-img/green-harvest.png" alt="green-harvest" width="544" height="314"></p>
            <p class="marquee__line">
                <img 
                srcset="./img/covers-img/chego@2x.png 2x"
                src="./img/covers-img/chego.png" alt="chego" width="544" height="314"></p>
            <p class="marquee__line">
                <img 
                srcset="./img/covers-img/wallet@2x.png 2x"
                src="./img/covers-img/wallet.png" alt="wallet" width="544" height="314"></p>
            <p class="marquee__line">
                <img 
                 srcset="./img/covers-img/vyshyvanka@2x.png 2x"
                src="./img/covers-img/vyshyvanka.png" alt="vyshyvanka" width="544" height="314"></p>
            <p class="marquee__line">
                <img 
                srcset="./img/covers-img/chego@2x.png 2x"
                src="./img/covers-img/chego.png" alt="chego" width="544" height="314"></p>
          </div>
<!-- fifth -->
          <div class="marquee__inner">
            <p class="marquee__line">
                <img 
                srcset="./img/covers-img/vyshyvanka@2x.png 2x"
                src="./img/covers-img/vyshyvanka.png" alt="vyshyvanka" width="544" height="314"></p>
            <p class="marquee__line">
                <img 
                srcset="./img/covers-img/fruitbox@2x.png 2x"
                src="./img/covers-img/fruitbox.png" alt="fruitbox" width="544" height="314"></p>
            <p class="marquee__line">
                <img 
                srcset="./img/covers-img/wallet@2x.png 2x"
                src="./img/covers-img/wallet.png" alt="wallet" width="544" height="314"></p>
            <p class="marquee__line">
                <img
                srcset="./img/covers-img/starlight-studio@2x.png 2x" 
                src="./img/covers-img/starlight-studio.png" alt="starlight-studio" width="544" height="314"></p>
            <p class="marquee__line">
                <img 
                srcset="./img/covers-img/fruitbox@2x.png 2x" 
                src="./img/covers-img/fruitbox.png" alt="chego" width="544" height="314"></p>
            <p class="marquee__line">
                <img 
                srcset="./img/covers-img/energy-flow@2x.png 2x" 
                src="./img/covers-img/energy-flow.png" alt="energy-flow" width="544" height="314"></p>
            <p class="marquee__line">
                <img 
                srcset="./img/covers-img/english-excellence@2x.png 2x" 
                src="./img/covers-img/english-excellence.png" alt="english-excellence" width="544" height="314"></p>
          </div>
          <div class="marquee__inner">
            <p class="marquee__line">
                <img 
                srcset="./img/covers-img/vyshyvanka@2x.png 2x"
                src="./img/covers-img/vyshyvanka.png" alt="vyshyvanka" width="544" height="314"></p>
            <p class="marquee__line">
                <img 
                srcset="./img/covers-img/fruitbox@2x.png 2x"
                src="./img/covers-img/fruitbox.png" alt="fruitbox" width="544" height="314"></p>
            <p class="marquee__line">
              <img 
              srcset="./img/covers-img/wallet@2x.png 2x"
              src="./img/covers-img/wallet.png" alt="wallet" width="544" height="314"></p>
              </div>
      </div>
      </div>  
</section>