<section class="section">
    <div class="container">
        <h2 class="faq-title">FAQ</h2>

        <ul class="faq-list">
            <li class="faq-item faq-border">
                <div class="faq-container">
                <h2 class="faq-item-title">What programming languages ​​are most often used in your project?</h2>
                <button class="open-btn" type="button" data-target="faq-item-text-1">
                    <img id ="icon-change" src="../img/faq-picture/open-icon.svg" alt="open-icon" width="20" height="20">
                </button>
            </div>
                <p class="faq-item-text hidden" id="faq-item-text-1">In the field of web development, there are various technologies and programming languages. 
                    Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
            </li>
            <li class="faq-item">
                <div class="faq-container">
                <h2 class="faq-item-title">What are the deadlines for the project?</h2>
                <button class="open-btn" type="button" data-target="faq-item-text-2">
                    <img id ="icon-change" src="../img/faq-picture/open-icon.svg" alt="open-icon" width="20" height="20">
                </button>
            </div>
                <p class="faq-item-text hidden" id="faq-item-text-2">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. 
                    Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
                </li>
            <li class="faq-item faq-border">
                <div class="faq-container">
                <h2 class="faq-item-title">What payment methods do you accept?</h2>
                <button class="open-btn" type="button" data-target="faq-item-text-3">
                    <img src="../img/faq-picture/open-icon.svg" alt="open-icon" width="20" height="20">
                </button>
                </div>
                <p class="faq-item-text hidden" id="faq-item-text-3">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, 
                    as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
                </li>
            <li class="faq-item">
                <div class="faq-container">
                <h2 class="faq-item-title">How can I contact you?</h2>
                <button class="open-btn" type="button" data-target="faq-item-text-4">
                    <img src="../img/faq-picture/open-icon.svg" alt="open-icon" width="20" height="20">
                </button>
            </div>
                <p class="faq-item-text hidden" id="faq-item-text-4">You can contact us via the online form below or call us directly. We are here to help you.</p>
            </li>
            <li class="faq-item faq-border">
                <div class="faq-container">
                <h2 class="faq-item-title">Do you provide advice or support?</h2>
                <button class="open-btn" type="button" data-target="faq-item-text-5">
                    <img src="../img/faq-picture/open-icon.svg" alt="open-icon" width="20" height="20">
                </button>
            </div>
                <p class="faq-item-text hidden" id="faq-item-text-5">We're available to offer advice, support, and guidance. Whether you have questions, 
                    need assistance with a problem, or seek information on a particular topic, feel free to ask. 
                    Your inquiries are always welcome, and I'm here to provide the help you need.</p>
                </li>
            <li class="faq-item">
                <div class="faq-container">
                <h2 class="faq-item-title">What does the process of developing a software product look like from idea to implementation?</h2>
                <button class="open-btn" type="button" data-target="faq-item-text-6">
                    <img src="../img/faq-picture/open-icon.svg" alt="open-icon" width="20" height="20">
                </button>
            </div>
                <p class="faq-item-text hidden" id="faq-item-text-6">From idea conception to final implementation, the software development process involves several stages, each crucial 
                    for transforming the initial concept into a tangible product</p>   
                </li>
        </ul>
    </div>
 
</section>
