<section class=" hero-section">

  <div class="hero container">
    <div class="hero-title">
      <h1 class="hero-title-text">Hello. <br>
        I’m Fullstack developer
        Lloyd Jefferson.</h1>
    </div>
    <div class="social">
      <ul class="social-networks-ul">
        <li class="social-networks-list"><a href="https://www.instagram.com/goitclub/" class="social-networks-link"
            target="_blank">IG</a></li>
        <li class="social-networks-list"><a href="https://www.youtube.com/c/GoIT" class="social-networks-link"
            target="_blank">FB</a></li>
        <li class="social-networks-list"><a href="https://www.facebook.com/goITclub/" class="social-networks-link"
            target="_blank">YT</a></li>
        <li class="social-networks-list"><a href="https://cyberons.github.io/project-13/" class="social-networks-link"
            target="_blank">GH</a></li>
        <li class="social-networks-list"><a href="mailto:lloydjefferson@gmail.com" class="social-networks-link"
            target="_blank">lloydjefferson@gmail.com</a></li>
      </ul>

    </div>
  </div>


</section>