

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" /> 


<section class="section-project">
<h2 class="heder-section-projects">Projects</h2>

 <div class="div-projects">
    <div class="div-left">
        <ul class="menu-list">
            <li class="menu-button"><p>#react</p></li>
            <li class="menu-button"><p>#js</p></li>
            <li class="menu-button"><p>#node js</p></li>
            <li class="menu-button"><p>#git</p></li>    
        </ul>
            
            <h3 class="hero-projects">Programming Across Borders:
                Ideas, Technologies, Innovations</h3>

    
            <button class="btn">See project
            <a class="btn-link" href="https://cyberons.github.io/project-13/" target="_blank" rel="noopener noreferrer" aria-label="project 13"></a>   
        </button>

   </div>

<div class="div-right">

<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <picture>
                <source srcset="./img/projects/projects01.png 1x, ./img/projects/projects1@2x.png 2x" width="614"
                    height="385" media="(min-width: 767px)">
                <source srcset="./img/projects/mobile.png 1x, ./img/projects/mobile@2x.png 2x" width="311" height="195"
                    media="(min-width: 311px)">
                <img src="./img/projects/mobileaaa.png" alt="image" class="project1">
            </picture>
        
        </div>
        <div class="swiper-slide">
            <picture>
                <source srcset="./img/projects/projects2.png 1x, ./img/projects/projects2@2x.png 2x" width="614"
                    height="385" media="(min-width: 767px)">
                <source srcset="./img/projects/mobile2.png 1x, ./img/projects/mobile2@2x.png 2x" width="311"
                    height="195" media="(min-width: 311px)">
                <img src="./img/projects/mobileaaa.png" alt="image" class="project2">
            </picture>
        
        </div>
        <div class="swiper-slide">
            <picture>
                <source srcset="./img/projects/projects3.png 1x, ./img/projects/projects3@2x.png 2x" width="614"
                    height="385" media="(min-width: 767px)">
                <source srcset="./img/projects/mobile3.png 1x, ./img/projects/mobile3@2x.png 2x" width="311"
                    height="195" media="(min-width: 311px)">
                <img src="./img/projects/mobileaaa.png" alt="image" class="project3">
            </picture>
       
        </div>

    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>


            

<!-- <picture>
      <source srcset="./img/projects/projects1.png 1x, ./img/vyshyvanka-1d1@2x.jpg 2x" width="614" height="385"
        media="(min-width: 767px)">
        <source srcset="./img/projects/mobile.png 1x, ./img/projects/mobile@2x.png 2x" width="311" height="195"
            media="(min-width: 311px)">
    <img src="./img/projects/mobileaaa.png" alt="image" class="project1">
</picture>

<picture>
    <source srcset="./img/projects/projects2.png 1x, ./img/projects/projects2.png 2x" width="614" height="385"
        media="(min-width: 767px)">
    <source srcset="./img/projects/mobile2.png 1x, ./img/projects/mobile2@2x.png 2x" width="311" height="195"
        media="(min-width: 311px)">
    <img src="./img/projects/mobileaaa.png" alt="image" class="project2">
</picture>

<picture>
    <source srcset="./img/projects/projects3.png 1x, ./img/projects/projects3.png 2x" width="614" height="385"
        media="(min-width: 767px)">
    <source srcset="./img/projects/mobile3.png 1x, ./img/projects/mobile3@2x.png 2x" width="311" height="195"
        media="(min-width: 311px)">
    <img src="./img/projects/mobileaaa.png" alt="image" class="project3">
</picture> -->

       </div>
</div>

    <ul class="arrows">

        <li class="icon-arrow"><a class="link"  target="_blank" rel="noopener noreferrer"
                aria-label="goit">
                <svg class="left-icon" width="24" height="24">
                    <use class="use-image" href="./img/symbol-defs.svg#icon-arrow-narrow-left" ></use>
                </svg>
            </a>
        </li>

        <li class="icon-arrow"><a class="link" target="_blank" rel="noopener noreferrer"
                aria-label="goit">
                <svg class="right-icon" width="24" height="24">
                    <use href="./img/symbol-defs.svg#icon-arrow-narrow-left"></use>
                </svg>
            </a>
        </li>
    </ul>







<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script> const swiper = new Swiper('.swiper', {
        // Optional parameters
        // direction: 'vertical',
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.right-icon',
            prevEl: '.left-icon',
        },

        // navigation: {
        //          nextEl: '.swiper-button-next',
        //          prevEl: '.swiper-button-prev',
        //      },



        // And if we need scrollbar
        // scrollbar: {
        //     el: '.swiper-scrollbar',
        // },
    });
</script>

    <!-- <script type="module" src="./html.js"></script> -->
</section>

