<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

<section class="section-project">
    <h2 class="heder-section-projects">Projects</h2>

    <div class="div-projects">
        <div class="div-left">
            <ul class="menu-list">
                <p class="menu-button">#react</p>
                <p class="menu-button">#js</p>
                <p class="menu-button">#node js</p>
                <p class="menu-button">#git</p>
            </ul>
            
            <h3 class="heder-projects">Programming Across Borders:
                Ideas, Technologies, Innovations</h3>
            <a class="btn-link" href="https://cyberons.github.io/project-13/" target="_blank" rel="noopener noreferrer"
                aria-label="Instagram icon">
                <button class="btn">See project</button>
            </a>

        </div>

        <div class="div-right">

<!-- <picture>
      <source srcset="./img/projects/projects1.png 1x, ./img/vyshyvanka-1d1@2x.jpg 2x" width="614" height="385"
        media="(min-width: 767px)">
        <source srcset="./img/projects/mobile.png 1x, ./img/projects/mobile@2x.png 2x" width="311" height="195"
            media="(min-width: 311px)">
    <img src="./img/projects/mobileaaa.png" alt="image" class="project1">
</picture> -->

<picture>
    <source srcset="./img/projects/projects2.png 1x, ./img/projects/projects2.png 2x" width="614" height="385"
        media="(min-width: 767px)">
    <source srcset="./img/projects/mobile2.png 1x, ./img/projects/mobile2@2x.png 2x" width="311" height="195"
        media="(min-width: 311px)">
    <img src="./img/projects/mobileaaa.png" alt="image" class="project2">
</picture>

<!-- <picture>
    <source srcset="./img/projects/projects3.png 1x, ./img/projects/projects3.png 2x" width="614" height="385"
        media="(min-width: 767px)">
    <source srcset="./img/projects/mobile3.png 1x, ./img/projects/mobile3@2x.png 2x" width="311" height="195"
        media="(min-width: 311px)">
    <img src="./img/projects/mobileaaa.png" alt="image" class="project3">
</picture> -->

        </div>
    
</div>


    <ul class="arrows">

        <li class="icon-arrow"><a class="link" href="" target="_blank" rel="noopener noreferrer"
                aria-label="goit">
                <svg class="left-icon" width="24" height="24">
                    <!-- <use href="./images/footer-icons.svg#icon-instagram-2"></use> -->
                    <use class="use-image" href="./img/symbol-defs.svg#icon-arrow-narrow-left" class="image"></use>
                </svg>
            </a>
        </li>

        <li class="icon-arrow"><a class="link" href="" target="_blank" rel="noopener noreferrer"
                aria-label="goit">
                <svg class="right-icon" width="24" height="24">
                    <!-- <use href="./images/footer-icons.svg#icon-instagram-2"></use> -->
                    <use href="./img/symbol-defs.svg#icon-arrow-narrow-left"></use>
                </svg>
            </a>
        </li>
    </ul>



    <!-- <script type="module" src="./html.js"></script> -->
</section>
