<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

<section class="section-project">
<h2 class="heder-section-projects">Projects</h2>

<div class="div-projects">
<div class="div-left">
    <ul class="menu-list">
<p class="menu-button">#react</p> 
<p class="menu-button">#js</p>
<p class="menu-button">#node js</p>
<p class="menu-button">#git</p>
</ul>
<h3 class="heder-projects">Programming Across Borders:
    Ideas, Technologies, Innovations</h3>
    <a class="btn-link" href="https://cyberons.github.io/project-13/" target="_blank" rel="noopener noreferrer"
        aria-label="Instagram icon">
        <button class="btn">See project</button>
    </a>
   
</div>

<div class="div-right">
    <ul class="tree-list list">
        <li class="tree-elem"><img src="./img/projects/projects1.jpg" alt="cute cat" width="614"></li>
        <!-- <li class="tree-elem"><img src="./images/1iphone.jpg" alt="cute cat" width="360"></li>
        <li class="tree-elem"><img src="./images/1macbook.jpg" alt="cute cat" width="360"></li> -->
    </ul>
</div>
</div>



<ul class="arrows">

    <li class="icon-arrow"><a class="link" href="https://goit.com" target="_blank" rel="noopener noreferrer"
            aria-label="goit">
            <svg class="left-icon" width="24" height="24">
                <!-- <use href="./images/footer-icons.svg#icon-instagram-2"></use> -->
                <use href="./img/symbol-defs.svg#icon-arrow-narrow-right" class="image"></use>
            </svg>
        </a>
    </li>

<li class="icon-arrow"><a class="link" href="https://goit.com" target="_blank" rel="noopener noreferrer"
        aria-label="goit">
        <svg class="right-icon" width="24" height="24">
        <!-- <use href="./images/footer-icons.svg#icon-instagram-2"></use> -->
        <use href="./img/symbol-defs.svg#icon-arrow-narrow-left"></use>
        </svg>
    </a>
</li>
</ul>





<!-- <script type="module" src="./html.js"></script> -->
</section>
