<section id="reviews" class="section">
  <div class="container">
    <h2 class="reviews-title">REVIEWS</h2>
    <div class="swiper swiper-container swiper-reviews">
      <div class="swiper-wrapper swiper-list-container">
        <ul class="swiper-list review-list"></ul>
      </div>
      <div class="swiper-pagination"></div>
      <div class="navi">
        <div class="sw-button-prev" id="before_btn">
          <svg class="icon-prev skills-arrow" width="32" height="32">
            <use href="./img/symbol-defs.svg#icon-arrow-narrow-left"></use>
          </svg>
        </div>
        <div class="sw-button-next" id="next_btn">
          <svg class="icon-next skills-arrow" width="32" height="32">
            <use href="../img/symbol-defs.svg#icon-arrow-narrow-left"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
