<footer class="footer">
    <div class="container">
        <div class="footer-tittle">
            <div class="upper-section">
                <img src="../img/footer/footer-logo.png" alt="logo" class="footer-img">
                <p class="tittle-text">Let’s <span class="red">work</span></p>
            </div>
            <div>
                <p class="tittle-text">together</p>
            </div>
        </div>
        <form class="footer-form">
            <input class="email" type="email" placeholder="clients@gmail.com">
            <input class="comments" type="text" placeholder="comments">
            <button class="send-btn">Send</button>
        </form>
        <div class="message"></div>
        <address class="footer-adress">
            <a href="mailto:lloydjefferson@gmail.com" class="adress-contacts ">lloydjefferson@gmail.com</a>
            <a href="tel:+380111111111" class="adress-contacts">+380 11 1111 11 11</a>
        </address>
    </div>
    <div class="modal-container">
        <div class="modal">
            <button class="close-btn">
                <img src="../img/footer/close.svg" alt="close-svg">
            </button>
            <div class="modal-info">
                <h2>Thank you for your interest in cooperation!</h2>
                <p>The manager will contact you shortly to discuss further details and opportunities for cooperation. Please stay in touch.</p>
            </div>
        </div>
    </div>
</footer>
