.faq-item {
    padding: 20px 0;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.faq-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.faq-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.4);
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.faq-item-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    width: 270px;
}

.faq-item-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
    padding-top: 16px;
}

.hidden {
    display: none;
}

.open-btn {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 100px;
    padding: 7px;
    width: 34px;
    height: 34px;
    background-color: inherit;
}

@media screen and (min-width: 768px) {
   .faq-item-title {
        width: 574px;
   }

   .faq-item-text {
        width: 670px;
   }
  }

  @media screen and (min-width: 1440px) {
    .faq-title {
        border-bottom: none
    }

    .faq-item {
        padding: 20px 20px;
        border-top: 1px solid rgba(250, 250, 250, 0.2);;
    }
    .faq-item-title {
        width: 574px;
    }
    .faq-list {
        display: flex;
        flex-wrap: wrap;
    }

    .faq-border {
        border-right: 1px solid rgba(250, 250, 250, 0.2);
    }

    .faq-item-text {
        width: 627px;
    }
   }