.section-project {
     background: #1c1d20;
    height: 760px;

     /* cards: #242527;
     arrow: #3b3b3b;
     button-text: #ed3b44;
     text-color: #fafafa;  */
     

 }


.heder-section-projects {
    margin-left: 25px;
    margin-bottom: 30px;
width: 284px;
background-color: #1c1d20;
font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 150%;
letter-spacing: -0.02em;
text-transform: uppercase;
color: rgba(250, 250, 250, 0.4);
}

.heder-projects {
    margin-bottom: 32px;
    margin-left: 64px;
    width: 494px;
    height: 132px;
font-family: "Inter Tight", sans-serif;
font-weight: 500;
font-size: 44px;
line-height: 100%;
letter-spacing: -0.03em;
color: #1c1d20

}


.menu-button {
    
    display: inline;
    border: 1px solid rgba(28, 29, 32, 0.2);
    font-size: 16px;
    padding: 18px 18px;
        border-radius: 60px; 
    color: #1C1D20;
    width: 80px;

}

.menu-list {
    padding-top: 64px;
   margin-left: 64px;
   margin-bottom: 223px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    /* display: inline-block; */
        /* display: inline;
        zoom: 1;
        vertical-align: top; */


}
.heder-section {
    background-color: blue;

    font-family: "Inter Tight", sans-serif;
        font-weight: 500;
        font-size: 44px;
        line-height: 100%;
        letter-spacing: -0.03em;
        color: var(--background);
}

.btn {
        border-radius: 60px;
        width: 177px;
        height: 55px;
        background-color: #ED3B44;

        font-family: "Inter Tight", sans-serif;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: -0.02em;
            color:#fafafa;    
            
            margin-left: 64px;
            margin-bottom: 64px;
}


@media screen and (min-width: 1440px) {
    .container {
        max-width: 1376px;
    }

    .section {
        padding-bottom: 160px;
     
    }

        .div-left {
            max-width: 688px;
            height: 625px;
            background: #fafafa;
            margin-left: 25px;
        }
}