
.swiper-button-next, .swiper-button-prev {
    visibility: hidden;
}

.div-right {
    background-color: #242527;
}

.section-project {
     background: #1c1d20;
    margin-left: auto;
        margin-right: auto;

 }


.heder-section-projects {
    margin-left: 32px;
    margin-bottom: 32px;
width: 284px;
background-color: #1c1d20;
font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 150%;
letter-spacing: -0.02em;
text-transform: uppercase;
color: rgba(250, 250, 250, 0.4);
}

.btn {
    border-radius: 60px;
    width: 177px;
    height: 555px;
    background-color: #ED3B44;
    border: 0 solid #ED3B44;

    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;

    margin-left: 64px;
    margin-bottom: 64px;
}
/* ====================================================== */
@media screen and (min-width: 320px) and (max-width: 374px){

.div-projects {
    width: 375px;
    height: 868px;
}

.div-left {
    max-width: 343px;
    height: 420px;
    background: #fafafa;
    margin-left: 16px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px 24px 0 0;
}

.menu-list {
    
    padding-top: 32px;
    margin-left: 32px;
    margin-bottom: 96px;
    display: flex; 
     flex-wrap: wrap; 
    gap: 6px;
    margin-right: auto;
}

.menu-button {

    display: inline;
    border: 1px solid rgba(28, 29, 32, 0.2);
    font-size: 16px;
    padding: 13px 18px;
    border-radius: 60px;
    color: #1C1D20;

}


.hero-projects {
    width: 279px;
    height: 84px;
        font-weight: 500;
        font-size: 24px;
        line-height: 117%;
        letter-spacing: -0.03em;
        margin-left: 32px;
        margin-right: auto;
        margin-bottom: 32px;
        color: #1c1d20;
}

.btn {

    width: 141px;
    height: 45px;
    margin-left: 32px;
    margin-bottom: 32px;
}


/* ----------------------------------------------- */

.div-right {
    width: 343px;
    height: 395px;
    margin-left: auto;
    margin-right: auto;
}

.image-projects {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.arrows {
    display: flex;
    flex-wrap: wrap;
    width: 126px;
    gap: 12px;
    margin-left: auto;
    margin-right: auto;
    
}

.icon-arrow {
    display: flex; 
     width: 243px;
    width: 52px;
    height: 52px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(250, 250, 250, 0.5);
        border-radius: 60px;
}

.left-icon {
    transform: scaleX(-1);
    align-items: center;
    justify-content: center;
        border-radius: 50%;

}

}

@media screen and (min-width: 375px) {
    .section-project {
            width: 374px;
            height: 960px;   
        }

.div-projects {
    width: 375px;
    height: 868px;

}

.heder-section-projects {
    margin-left: 16px;
}

.div-left {
    max-width: 343px;
    height: 420px;
    background: #fafafa;
    margin-left: 16px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px 24px 0 0;
}

.menu-list {
    padding-top: 32px;
    margin-left: 32px;
    margin-bottom: 96px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-right: auto;
}

.menu-button {

    display: inline;
    border: 1px solid rgba(28, 29, 32, 0.2);
    font-size: 16px;
    padding: 13px 18px;
    border-radius: 60px;
    color: #1C1D20;

}
.hero-projects {
    width: 279px;
    height: 84px;
    font-weight: 500;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
    margin-left: 32px;
    margin-right: auto;
    margin-bottom: 32px;
    color: #1c1d20;
}

.btn {

    width: 141px;
    height: 45px;
    margin-left: 32px;
    margin-bottom: 32px;
}
/* ----------------------------------------------- */
.div-right {
    width: 343px;
    height: 395px;
    margin-left: auto;
    margin-right: auto;
}

.image-projects {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.arrows {
    display: flex;
    flex-wrap: wrap;
    width: 126px;
    gap: 12px;
    margin-left: auto;
    margin-right: auto;

}

.icon-arrow {
    display: flex;
    width: 243px;
    width: 52px;
    height: 52px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 60px;
}

.left-icon {
    transform: scaleX(-1);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

}

/* ========================================================================= */

@media screen and (min-width: 768px) {
    .swiper {
            width: 614px;
            height: 485px;
        }

.section-project {
        width: 768px;
        height: 1447px;
    }
.heder-section-projects {
    margin-left: 32px;
}

.div-projects {
    width: 768px;
   height: 1290px;

}

.div-left {
    max-width: 704px;
    height: 625px;
    background: #fafafa;
    margin-left: 32px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px 24px 0 0;
}

.menu-list {

    padding-top: 64px;
    margin-left: 64px;
    margin-bottom: 164px;
    display: flex;
    gap: 6px;
    margin-right: auto;
}

.hero-projects {
    width: 494px;
    height: 132px;
    font-weight: 500;
    font-size: 44px;
    line-height: 117%;
    letter-spacing: -0.03em;
    margin-left: 64px;
    margin-right: auto;
    color: #1C1D20;
}

.menu-button {

    display: inline;
    border: 1px solid rgba(28, 29, 32, 0.2);
    font-size: 16px;
    padding: 13px 18px;
    border-radius: 60px;
    color: #1C1D20;

}

.btn {
    border-radius: 60px;
    width: 177px;
    height: 55px;
    margin-left: 64px;
    margin-bottom: 64px;
    margin-top: 32px;
}

/* ---------------------------------------------  */

.div-right {
    width: 704px;
    height: 625px;
    margin-left: auto;
    margin-right: auto;
}

.image {
    width: 614px;
    height: 385px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.image-projects {
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
}

.arrows {
    display: flex;
    flex-wrap: wrap;
    width: 156px;
    gap: 12px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #ED3B44; */
    background: #1c1d20;

}

.icon-arrow {
    display: flex;
    width: 243px;
    width: 68px;
    height: 68px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 60px;
}
}

/* ====================================================== */
@media screen and (min-width: 1440px) {

.section-project {
            width: 1440px;
            height: 813px;         
 }
  
.heder-section-projects {
    margin-left: 32px;
}

.div-projects {
    display: flex;
    width: 1376px;
    height: 625px;
    margin-left: auto;
        margin-right: auto;
        margin-bottom: 64px;

}

.div-left {
    width: 685px;
    height: 625px;
    background: #fafafa;
    border-radius:  24px 0 0 24px;
}

.div-right {
    width: 685px;
    height: 625px;
    margin-left: auto;
    margin-right: auto;
}

}


