.section-project {
    max-width: 1376px;
     background: #242527;
 }


.heder-projects {
    margin-bottom: 32px;
    margin-left: 64px;
    width: 494px;
    height: 132px;
font-family: "Inter Tight", sans-serif;
font-weight: 500;
font-size: 44px;
line-height: 100%;
letter-spacing: -0.03em;
color: #1c1d20

}


.menu-button {
    
    display: inline;
    border: 1px solid rgba(28, 29, 32, 0.2);
    font-size: 16px;
    padding: 18px 18px;
        border-radius: 60px; 
    color: #1C1D20;
    width: 80px;

}

.menu-list {
    padding-top: 64px;
   margin-left: 64px;
   margin-bottom: 223px;

}
.heder-section {
    background-color: blue;

    font-family: "Inter Tight", sans-serif;
        font-weight: 500;
        font-size: 44px;
        line-height: 100%;
        letter-spacing: -0.03em;
        color: var(--background);
}

.btn {
        border-radius: 60px;
        width: 177px;
        height: 55px;
        background-color: #ED3B44;

        font-family: "Inter Tight", sans-serif;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: -0.02em;
            color:#fafafa;    
            
            margin-left: 64px;
            margin-bottom: 64px;
}

 .icon-arrow {
    align-items: center;
    justify-content: center;
                display: inline;
                    border: 1px solid #FAFAFA;
                    width: 32px;
                    height: 32px;
                    padding: 18px 18px;
                    border-radius: 50%;
                    fill: #1C1D20;
                    gap: 10px
                }


@media screen and (min-width: 320px) and (max-width: 374px) {
    .container {
        padding: 0 20px;
    }

.div-projects {
            width: 375px;
}

.div-left {
    width: 340px;
    background-color: #FAFAFA;
    border: #FAFAFA, 1px, solid;
    border-radius: 24px 24px 0 0;
    margin: 16px;
}
.heder-projects {
    width: 279px;
    height: 84px;
    margin-left: 32px;
    font-family: #1c1d20;
        font-weight: 500;
        font-size: 24px;
        line-height: 117%;
        letter-spacing: -0.03em;
}

.menu-list, .btn {
    margin-left: 32px;
}

.arrows {
    display: flex;
    height: 62px;
    margin-left: 96px;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
}

.icon-arrow {
    
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 14px;
    width: 24px;
    height: 24px
    

}

}


@media screen and (min-width: 375px) {
    .container {
        padding: 0;
        margin: 0 auto;
        max-width: 343px;
    }

    .section {
        padding-bottom: 64px;
    }
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 704px;
        display: block;
    }

         .heder-section-projects {
             margin-left: 32px;
             margin-bottom: 30px;
             /* max-width: 156px; */
             /* background-color: #242527; */
             font-family: "Inter Tight", sans-serif;
             font-weight: 600;
             font-size: 16px;
             line-height: 150%;
             letter-spacing: -0.02em;
             text-transform: uppercase;
             color: rgba(250, 250, 250, 0.4);
         }

.div-projects {
   display: block;
  align-items: center;
  max-width: 704px;
height: 1191px;
    background: #242527;
    /* background-color: #FAFAFA; */
        }
.section-project {
        max-width: 704px;
        height: 1220px;
        /* background: #242527; */
}
.image {
margin-left: auto;
    margin-right: auto;
}

.div-left {
    background-color: #FAFAFA;
   border: #FAFAFA, 1px, solid;
    border-radius: 24px 24px 0 0;
} 
} 






@media screen and (min-width: 1440px) {
    /* .container {
        max-width: 1376px;

    } */
 .heder-section-projects {
     margin-left: 32px;
     margin-bottom: 30px;
     max-width: 156px;
     background-color: #242527;
     font-family: "Inter Tight", sans-serif;
     font-weight: 600;
     font-size: 16px;
     line-height: 150%;
     letter-spacing: -0.02em;
     text-transform: uppercase;
     color: rgba(250, 250, 250, 0.4);
 }
       
    .div-projects {
        min-width: 1440px;
        height: 704px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section-project {
        max-width: 1440px;
        padding-bottom: 160px;
        height: 680px;
     
    }

        .div-left {
            max-width: 688px;
            height: 625px;
            background: #fafafa;
            margin-left: 32px;
            margin-bottom: 64px;
            border-left: #FAFAFA, 1px, solid;
            border-radius: 24px 0 0 24px;
}

.div-right {
    margin-left: auto;
    margin-right: auto;
}
 .arrows {
     display: flex;
    width: 156px;
     height: 68px;
    margin-left: auto;
     margin-right: auto;
    /* margin-left: 610px;
    margin-right: 37px; */
    gap: 20px;
    color: #ED3B44;
     }

}