.footer{
    margin-top: 60px;
}

/*---------TITTLE--------*/
.footer-tittle {
    display: flex;
    flex-direction: column;
}

.upper-section {
    display: flex;
    align-items: center;
}

.tittle-text{
    font-family: Inter Tight;
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.footer-img{
    width: 44px;
    height: 44px;
    background-size: cover;
    margin-right: 8px;
}

.red{
    color: #ED3B44;
}


/* form */
.footer-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;
}

.email,
.comments {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FAFAFA33;
    width: 100%;
    height: 44px;
    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.02em;
    color:  #FAFAFA;
}

.email::placeholder,
.comments::placeholder {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    color:  #FAFAFA99;
}

.email:focus,
.comments:focus{
    outline: none;
    border: none;
    border-bottom: 1px solid #FAFAFA;
}


.send-btn {
    width: 100px;
    height: 100px;
    background-color: #ED3B44;
    border-radius: 50px;
    border-style: solid;
    border-color: transparent;
    color: #FAFAFA;
    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.02em;
    margin-top: 16px;
    transition: background-color 0.2s ease; 
}

.send-btn:hover {
    background-color: #E0373F; 
}

/* adress */
.footer-adress{
    display: flex;
    margin-top: 60px;
    font-style: normal;
}

.adress-contacts{
    height: 37px;
    border-radius: 60px;
    border: 1px solid  #FAFAFA33;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 16px;
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 1000; 
    backdrop-filter: blur(5px); 
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 343px;
    height: 276px;
    transform: translate(-50%, -50%);
    background-color: #1C1D20;
    border: 1px solid #FAFAFA1A;
    border-radius: 20px;
    padding: 20px;
    z-index: 1001; 
}

.close-btn{
    position: absolute;
    height: 22px;
    width: 22px;
    background-color: #1C1D20;
    color: white;
    border: none;
    padding: 0;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.modal-info {
    margin-top: 62px; 
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

.modal-info h2{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: center;
}

.modal-info p{
    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #FAFAFA99;
}

/*--JS--*/
.error {
    border-bottom-color: #E74A3B;
}

.success {
    border-bottom-color: #3CBC81;
}

.success-message {
    color: #3CBC81;
}

.error-message {
    color: #E74A3B;
}

.message{
    position: absolute;
    margin-top: -198px;
}

@media screen and (min-width: 768px) {
    .footer-img{
        width: 70px;
        height: 70px;
        margin-right: 20px;
    }    

    .tittle-text{
        line-height: 64px;
        font-size: 64px;
    }

    .footer-form{
        display: inline-block;
        width: 100%;
    }    

    .email,
    .comments {
        width: 245px;
        margin-right: 20px;
    }

    .send-btn{
        width: 150px;
        height: 150px;
        border-radius: 75px;
    }

    .adress-contacts{
        height: 55px;
        width: 171px;
    }

    .footer-adress{
        gap: 8px;
    }

    .message{
        margin-top: -48px;
    }

    .modal{
        width: 492px;
        height: 246px;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .modal-info{
        width: 364px;
        text-align: center;
    }

    .adress-contacts{
        font-size: 16px;
    }
}

@media screen and (min-width: 1440px){
    .email,
    .comments {
        width: 390px;
    }

    .send-btn{
        margin-left: 86px;
    }
}
